Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rewrite root to dist
    RewriteRule ^$ /trading/app/dist/ [L]

    # Rewrite anything that's not a real file/dir to dist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /trading/app/dist/$1 [L]
</IfModule>